footer {
    width: 1333px;
    margin: auto;
    padding: 5px 60px;
    background-color: #d2d2d2;
}

.footer-container {
    display: flex;
    align-items: center;
}

.footer-ul {
    display: block;
    margin-right: 50px;
}

.footer-ul > li {
    line-height: 25px;
}

.footer-container > ul {
    list-style-type: none;
}

.links-row {
    display: flex;
    align-items: center;
    width: 1250px;
    justify-content: space-between;
}

.top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(0, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 25px;
}

a > i {
    margin-top: 6px;
    font-size: 25px;
}

#early {
    position: relative;
    top: -1.5px;
}